[Unit]
Describtion = Run SSH bruteforce detector every minute

[Timer]
OnBootSec = 1min
OnUnitActiveSec = 1min
Unit = ssh-bruteforce-detector.service

[Install]
WantedBy = timer.target
